@()(implicit messagesProvider: play.api.i18n.MessagesProvider, flash: Flash)


@nautical("about Valuta") {

   <div class="well">
      <h4>A currency rates lookup service</h4>
      <ul>
         <li>Includes normal (FIAT) currencies</li>
         <li>Includes crypto currencies</li>
         <li><s><em><a href="http://code.flurd.com/projects/tulips">Include currency holding</a></em></s></li>
      </ul>
   </div>

   <div class="well">
      <h4>Technology</h4>
      <ul>
         <li><a href="http://getbootstrap.com">Bootstrap</a></li>
         <li><a href="https://playframework.com">Play Framework</a></li>
         <li><a href="http://scala-lang.org">Scala</a></li>
         <li><a href="https://redis.io">Redis</a></li>
      </ul>

      <ul>
         <li><a href="https://github.com">Github</a></li>
         <li><a href="https://docker.com">Docker</a></li>
         <li><a href="https://circleci.com">CircleCI</a></li>
         <li><a href="https://heroku.com">Heroku</a></li>
      </ul>
   </div>

   <div class="well">
      <h4>Rate sources</h4>
      <ul>
         <li>
            <a href="https://cryptowat.ch">Cryptowatch</a>
         </li>
         <li>
            <a href="https://gdax.com">GDAX</a>
         </li>
         <li>
            <a href="https://bitfinex.com">Bitfinex</a>
         </li>
         <li>
            <a href="http://fixer.io">Fixer.io</a>
         </li>
      </ul>
   </div>

   @**
   <div class="well">
      <h4>Security</h4>
      <h5>Warning</h5>
      <ul>
         <li>Basic security</li>
         <li>Medium risk</li>
         <li>Use at your own risk</li>
      </ul>
      <h5>Data at risk if hacked</h5>
      <ul>
         <li>You email address</li>
         <li>Your hashed password</li>
         <li>Which exchanges you use</li>
         <li>Your crypto currency holdings numbers</li>
      </ul>
      <h5>Security applied</h5>
      <ul>
         <li>TLS 1.2 http traffic</li>
         <li>Hashed passwords</li>
         <li>Open source publicly available code</li>
         <li>Read only APIs</li>
      </ul>

   </div>
   **@

   <div class="well">
      <h4>Contribute to Valuta</h4>
      <ul>
         <li>Report bugs: <a href="https://github.com/flurdy/valuta/issues">github.com/flurdy/valuta/issues</a></li>
         <li>Fix bugs: <a href="https://github.com/flurdy/valuta/pulls">github.com/flurdy/valuta/pulls</a></li>
      </ul>
   </div>

   <div class="well">
      <h4>Warning</h4>
      <ul>
         <li>Rates may be out of date</li>
         <li>Rates may be wrong</li>
      </ul>
   </div>

   <div class="well">
      <h4>License</h4>
      <ul>
         <li>Apache License 2.0</li>
      </ul>

   </div>

   <div class="well">
      <h4>People</h4>
      <ul>
         <li>Creator: Ivar Abrahamsen (<a href="https://twitter.com/flurdy">@@flurdy</a>)</li>
      </ul>
   </div>

   <div class="well">
      <h4>More information</h4>
      <ul>
         <li><a href="https://github.com/flurdy/valuta">github.com/flurdy/valuta</a></li>
         <li><a href="https://code.flurdy.com/project/Valuta">code.flurdy.com/project/Valuta</a></li>
      </ul>

   </div>

   <div class="well">
      <h4>Contact</h4>
      <ul>
         <li><a href="https://flurdy.com/contact">flurdy.com/contact</a></li>
      </ul>
   </div>

   <div class="well">
      <h4>Sponsor</h4>

      <p><a href="https://flurdy.com/contact">Please contact</a></p>
   </div>


}
