@()(implicit messagesProvider: play.api.i18n.MessagesProvider, flash: Flash)


@nautical(messagesProvider.messages("about.title")) {

   <div class="well">
      <h4>@messagesProvider.messages("about.description.title")</h4>
      <ul>
         <li>@messagesProvider.messages("about.description.1")</li>
         <li>@messagesProvider.messages("about.description.2")</li>
         <li><s><em><a href="http://code.flurdy.com/project/tulips">@messagesProvider.messages("about.description.3")</a></em></s></li>
      </ul>
   </div>

   <div class="well">
      <h4>@messagesProvider.messages("about.technology")</h4>
      <ul>
         <li><a href="http://getbootstrap.com">Bootstrap</a></li>
         <li><a href="https://playframework.com">Play Framework</a></li>
         <li><a href="http://scala-lang.org">Scala</a></li>
         <li><a href="https://redis.io">Redis</a></li>
      </ul>

      <ul>
         <li><a href="https://github.com">Github</a></li>
         <li><a href="https://docker.com">Docker</a></li>
         <li><a href="https://circleci.com">CircleCI</a></li>
         <li><a href="https://heroku.com">Heroku</a></li>
      </ul>
   </div>

   <div class="well">
      <h4>@messagesProvider.messages("about.sources")</h4>
      <ul>
         <li>
            <a href="https://cryptowat.ch">Cryptowatch</a>
         </li>
         <li>
            <a href="https://gdax.com">GDAX</a>
         </li>
         <li>
            <a href="https://bitfinex.com">Bitfinex</a>
         </li>
         <li>
            <a href="https://bittrex.com">Bittrex</a>
         </li>
         <li>
            <a href="http://fixer.io">Fixer.io</a>
         </li>
      </ul>
   </div>

   <div class="well">
      <h4>@messagesProvider.messages("about.contribute")</h4>
      <ul>
         <li>@messagesProvider.messages("about.contribute.bugs.report"): <a href="https://github.com/flurdy/valuta/issues">github.com/flurdy/valuta/issues</a></li>
         <li>@messagesProvider.messages("about.contribute.bugs.fix"): <a href="https://github.com/flurdy/valuta/pulls">github.com/flurdy/valuta/pulls</a></li>
      </ul>
   </div>

   <div class="well">
      <h4>@messagesProvider.messages("about.warning")</h4>
      <ul>
         <li>@messagesProvider.messages("about.warning.1")</li>
         <li>@messagesProvider.messages("about.warning.2")</li>
      </ul>
   </div>

   <div class="well">
      <h4>@messagesProvider.messages("about.license")</h4>
      <ul>
         <li>Apache License 2.0</li>
      </ul>

   </div>

   <div class="well">
      <h4>@messagesProvider.messages("about.people")</h4>
      <ul>
         <li>@messagesProvider.messages("about.people.creator"): Ivar Abrahamsen (<a href="https://twitter.com/flurdy">@@flurdy</a>)</li>
      </ul>
   </div>

   <div class="well">
      <h4>@messagesProvider.messages("about.more.information")</h4>
      <ul>
         <li><a href="https://github.com/flurdy/valuta">github.com/flurdy/valuta</a></li>
         <li><a href="https://code.flurdy.com/project/Valuta">code.flurdy.com/project/Valuta</a></li>
      </ul>

   </div>

   <div class="well">
      <h4>@messagesProvider.messages("about.contact")</h4>
      <ul>
         <li><a href="https://flurdy.com/contact">flurdy.com/contact</a></li>
      </ul>
   </div>

   <div class="well">
      <h4>@messagesProvider.messages("about.sponsor")</h4>

      <p><a href="https://flurdy.com/contact">@messagesProvider.messages("about.sponsor.contact")</a></p>
   </div>


}
