@(title: String)(cargo: Html)(implicit messagesProvider: play.api.i18n.MessagesProvider, flash: Flash)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen"
            href="@routes.Assets.versioned("stylesheets/main.css")"/>
         <link rel="stylesheet" media="screen"
            href="/assets/lib/bootstrap/css/bootstrap.css"/>
        <link rel="shortcut icon" type="image/png"
            href="@routes.Assets.versioned("images/favicon.png")"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </head>
    <body>
      <div class="container">
         <header><h3>@messagesProvider.messages("app.title")</h3></header>

            @flash.get("messageSuccess").map { message =>
               <p class="alert alert-success">
                  @Html(message)
               </p>
            }

            @flash.get("messageError").map { message =>
               <p class="alert alert-warning">
                  @Html(message)
               </p>
            }

            @cargo

            <ul class="nav nav-tabs">
               <li role="presentation">
                  <a href="@routes.HomeController.index">Home</a>
               </li>
               <li role="presentation">
                  <a href="@routes.RateController.list">List</a>
               </li>
               <li role="presentation">
                  <a href="@routes.RateController.showEnterRates">Enter</a>
               </li>
            </ul>
        </div>
      <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </body>
</html>
