@(currency: Currency, dateRates: models.DateRates, rateDivisors: List[Currency], divisorsWithSources: List[Currency], divisorsPossible: List[Currency], sources: List[RateSource])(implicit request: RequestHeader, messagesProvider: play.api.i18n.MessagesProvider, flash: Flash)

@import helper._

@nautical(messagesProvider.messages("currency.title")){

   <h4>@currency</h4>

   <table class="table table-striped">
      <tr>
         <th>@messagesProvider.messages("currency.date")</th>
         @for(divisor <- rateDivisors){
            <th>@divisor</th>
         }
      </tr>
      @for(date <- dateRates.sortedKeys){
         <tr>
            <td>@date</td>
            @for(divisor <- rateDivisors){
               <td>
                  @for(rateDivisor <- dateRates.rates(date).rates.keys){
                     @if(divisor == rateDivisor){
                        @dateRates.rates(date).rates.get(divisor).map { rate =>
                           @rate.formattedRate
                        }
                     }
                  }
               </td>
            }
         </tr>
      }
   </table>

   @if(!divisorsWithSources.isEmpty){
      <div class="well">
         <table class="table">
            <tr>
               <th>@messagesProvider.messages("currency.divisor")</th>
               <th></th>
            </tr>
            @for(divisor <- divisorsWithSources){
               @if(divisor != currency){
                  @form(action=routes.RateController.fetchRate(currency.entryName,divisor.entryName)){
                     @helper.CSRF.formField
                     <tr>
                        <td>@divisor</td>
                        <td>
                           <button type="submit" class="btn btn-warning">@messagesProvider.messages("currency.fetch.rate")</button>
                        </td>
                     </tr>
                  }
               }
            }
         </table>
      </div>
   }

   @if(!divisorsPossible.isEmpty){
      <div class="well">
         @form(action=routes.RateController.enterRate, 'class -> "form-horizontal"){
            @helper.CSRF.formField
            <input type="hidden" name="ratePair.dividen" value="@currency"/>
            <div class="form-group">
               <label class="col-sm-2 control-label">@messagesProvider.messages("currency.divisor.currency")</label>
               <div class="col-sm-5">
                  <select
                     @if(divisorsPossible.size > 1){ multiple }
                        class="form-control" name="ratePair.divisor">
                     @for(currency <- divisorsPossible){
                        <option @if(currency == Currency.USD){
                              selected
                           }>@currency</option>
                     }
                  </select>
               </div>
            </div>
            <div class="form-group">
               <label for="inputRate" class="col-sm-2 control-label">@messagesProvider.messages("currency.rate")</label>
               <div class="col-sm-5">
                  <input type="number" name="rate" class="form-control" id="inputRate"
                        placeholder="123.456" step='0.0000001' required />
               </div>
            </div>
            <div class="form-group">
               <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-success">@messagesProvider.messages("currency.enter.rate")</button>
               </div>
            </div>
         }
      </div>
   }
}
