@(currency: Currency, dateRates: models.DateRates, divisors: List[Currency])(implicit messagesProvider: play.api.i18n.MessagesProvider, flash: Flash)

@nautical(""){


   <h4>@currency</h4>

   <table class="table table-striped">
      <tr>
         <th>Date</th>
         @for(divisor <- divisors){
            <th>@divisor</th>
         }
      </tr>
      @for(date <- dateRates.sortedKeys){
         <tr>
            <td>@date</td>
            @for(divisor <- divisors){
               <td>
                  @for(rateDivisor <- dateRates.rates(date).rates.keys){
                     @if(divisor == rateDivisor){
                        @dateRates.rates(date).rates.get(divisor).map { rate =>
                           @rate.formattedRate
                        }
                     }
                  }
               </td>
            }
         </tr>
      }
   </table>

}
