@(currency: Currency, dateRates: models.DateRates, rateDivisors: List[Currency], allDivisors: List[Currency], sources: List[RateSource])(implicit request: RequestHeader, messagesProvider: play.api.i18n.MessagesProvider, flash: Flash)

@import helper._

@nautical(""){

   <h4>@currency</h4>

   <table class="table table-striped">
      <tr>
         <th>Date</th>
         @for(divisor <- rateDivisors){
            <th>@divisor</th>
         }
      </tr>
      @for(date <- dateRates.sortedKeys){
         <tr>
            <td>@date</td>
            @for(divisor <- rateDivisors){
               <td>
                  @for(rateDivisor <- dateRates.rates(date).rates.keys){
                     @if(divisor == rateDivisor){
                        @dateRates.rates(date).rates.get(divisor).map { rate =>
                           @rate.formattedRate
                        }
                     }
                  }
               </td>
            }
         </tr>
      }
   </table>

   <div class="well">
      <table class="table">
         <tr>
            <th>Divisor</th>
            <th></th>
         </tr>
         @for(divisor <- allDivisors){
            @if(divisor != currency){
               @form(action=routes.RateController.fetchRate(currency.entryName,divisor.entryName)){
                  @helper.CSRF.formField
                  <tr>
                     <td>@divisor</td>
                     <td>
                        <button type="submit" class="btn btn-warning">fetch rate</button>
                     </td>
                  </tr>
               }
            }
         }
      </table>
   </div>
}
