@(error: Option[String] = None)(implicit request: RequestHeader, messagesProvider: play.api.i18n.MessagesProvider, flash: Flash)

@import helper._

@nautical(messagesProvider.messages("fetch.title")) {
   <h4>@messagesProvider.messages("fetch.description")</h4>

   <div class="well">
      @form(action=routes.RateController.fetchAllRates()){
         @helper.CSRF.formField
         <button type="submit" class="btn btn-warning">@messagesProvider.messages("fetch.fetch")</button>
      }
   </div>

}
