@(rates: Rates, divisors: List[Currency])(implicit messagesProvider: play.api.i18n.MessagesProvider)

@nautical("rates") {

   <table border="1">
      <thead>
         <tr>
            <th rowspan="2" colspan="1">Currency</th>
            <th colspan="@divisors.length">Rate</th>
         </tr>
         <tr>
            @for(divisor <- divisors){
               <th>@divisor</th>
            }
         </tr>
      </thead>
      <tbody>
         @for((currency, currencyRates) <- rates.rates){
            <tr>
               <td>
                  <a href="@routes.RateController.showCurrencyRates(currency.entryName)">
                     @currency
                  </a>
               </td>
               @for(divisor <- divisors){
                  <td>
                     @for((date,pairRate) <- currencyRates.rates){
                        @if(divisor == pairRate.divisor){
                           @pairRate.rate

                        }
                     }
                  </td>
               }
            </tr>
         }
      </tbody>
   </table>

}
