@(cryptos: List[Currency], fiats: List[Currency], rates: Rates, divisors: List[Currency], lastUpdate: Option[String]  = None)(implicit messagesProvider: play.api.i18n.MessagesProvider, flash: Flash)

@showCurrencyRow(currency: Currency, currencyRates: CurrencyRates) = {
   <tr>
      <td>
         <a href="@routes.RateController.showCurrencyRates(currency.entryName)">
            @currency
         </a>
      </td>
      @for(divisor <- divisors){
         <td>
            @for((date,pairRate) <- currencyRates.rates){
               @if(divisor == pairRate.pair.divisor){
                  @pairRate.formattedRate
               }
            }
         </td>
      }
   </tr>
}

@nautical("rates") {

   <table class="table table-striped">
      <thead>
         <tr>
            <th rowspan="2" colspan="1">@messagesProvider.messages("list.currency")</th>
            <th colspan="@divisors.length">@messagesProvider.messages("list.rate")</th>
         </tr>
         <tr>
            @for(divisor <- divisors){
               <th>@divisor</th>
            }
         </tr>
      </thead>
      <tbody>
         @for(currency <- cryptos){
            @showCurrencyRow(currency, rates.rates(currency))
         }
         @for(currency <- fiats){
            @showCurrencyRow(currency, rates.rates(currency))
         }
      </tbody>
   </table>

   @lastUpdate.map{ date =>
      <div class="awell small pull-right">
         <p>@messagesProvider.messages("list.last.update"): @date</p>
      </div>
   }

}
